{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


{% block css %}

{% endblock %}
<div class="card-body" style="text-align: center;">
    <br>
    <p style="font-size: 50px; font-style: italic;">¿ Quienes somos ?</p>
    <p style="text-align: center; margin: 100px; font-style: italic;">
        Somos una comunidad de vecinos apasionados por las plantas y la naturaleza. Decidimos unirnos y crear esta página para ofrecer una amplia variedad de plantas a nuestros residentes y a la comunidad en general. Nuestro objetivo es promover el amor por las plantas y proporcionar una forma conveniente de adquirirlas. Con nuestro conocimiento y experiencia compartidos, nos esforzamos por brindar productos de calidad y un excelente servicio a nuestros clientes. Únete a nuestra comunidad verde y descubre el placer de tener plantas en tu hogar.
        <br><span style="font-style: italic;">¡Vive la experiencia de la naturaleza en casa!</span>

    </p>
</div>
<div style="display: flex; justify-content: center;">
    <img src="{% static 'core/img/quienesomos.jpg' %}" alt="Imagen" style="max-width: 400px; height: auto; border-radius: 25%;">
</div>

{% endblock %}

{% block js %}

{% endblock %}
